; cli configs
metrics-registry = "https://registry.npmjs.org/"
scope = ""
user-agent = "npm/6.14.14 node/v14.17.5 win32 x64"

; node bin location = C:\Users\agour\AppData\Local\nvs\node\14.17.5\x64\node.exe
; cwd = D:\Desktop Right\synk-music-backend
; HOME = C:\Users\agour
; "npm config ls -l" to show all defaults.

