@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.carousel-container {
    margin: 20px;
}

.MuiButtonBase-root.MuiTab-root {
    background: black;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}


.MuiTabs-indicator {
    background: #01a4e9;
    box-shadow: 0px -2px 5px 1px white;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
    background: #212121;
    color: #01a4e9;
}
